.navibar{
    background-color: #68B2F5;
}

.introduction{
    min-height: 65vh;
}

#start-button{
    vertical-align: middle;
}

.intro-text{
    vertical-align: middle;
    height: 100%;
    font-size: x-large;
}