#navibar{
    background-color: #68B2F5;
}

.introduction{
    /* background-color: #68B2F5; */
    min-height: 65vh;
}

#start-button{
    vertical-align: middle;
}

.intro-text{
    /* color: rgb(56, 56, 155); */
    vertical-align: middle;
    height: 100%;
    font-size: x-large;
}